.editTable {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #DEE2E6;
    padding: 0;
    background-color: #FAFAEB;
}

.editTable1 {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #DEE2E6;
    padding: 0;
    /* background-color: #fff; */
}

.txt_date {
    /* display: block; */
    text-align: left;
    padding-left: 40px;
    background-color: #C6E2F8;
    /* border: none; */
}

.btn-create {
    margin: 24px;
}

.txt_account {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 0 24px;
}

.table-background {
    background-color: #CCE8FF;
}

.txt-time {
    text-align: left;
    padding-left: 34px;
}