<p class="txt_account">accounting information</p>
<button type="button" class="btn btn-primary btn-create" data-toggle="button" aria-pressed="false" autocomplete="off">CREATE</button>
<section>
<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
            <th rowspan="2" class="editTable"></th>
            <th colspan="2" class="editTable">Chứng Từ</th>
            <th rowspan="2" class="editTable">Diễn Giải</th>
            <th colspan="2" class="editTable">Tài Khoản</th>
            <th rowspan="2" class="editTable col-md-1">Tiền</th>
            <th rowspan="2" class="editTable col-md-1">Tỉ Giá</th>
        </tr>
        <tr>
            <th class="editTable col-md-1">Ngày</th>
            <th class="editTable col-md-1">Số</th>
            <th class="editTable col-md-1">Nợ</th>
            <th class="editTable col-md-1">Có</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr>
            <th  colspan="6" class="editTable txt_date">Ngày: 01/01/2021</th>
            <td  class="editTable txt_date">384775000</td>
            <td  class="editTable txt_date"></td>
        </tr>
        <tr>
          <th class="editTable1">1</th>
          <td class="editTable1">Kate</td>
          <td class="editTable1">Moss</td>
          <td class="editTable1">USA / The United Kingdom / China / Russia </td>
          <td class="editTable1">anbc</td>
          <td class="editTable1">adf</td>
          <td class="editTable1">23</td>
          <td class="editTable1">23</td>
        </tr>
      </tbody>
      <!--Table body-->


    </table>
    <!--Table-->
  </div>
</section>