<p class="txt_account">Accounting Information</p>
<button type="button" class="btn btn-primary btn-create" data-toggle="button" aria-pressed="false" autocomplete="off">CREATE</button>
<section>
<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
            <th rowspan="2" class="editTable"></th>
            <th colspan="2" class="editTable">Chứng Từ</th>
            <th rowspan="2" class="editTable">Diễn Giải</th>
            <th colspan="2" class="editTable">Tài Khoản</th>
            <th rowspan="2" class="editTable col-md-1">Tiền</th>
            <th rowspan="2" class="editTable col-md-1">Tỉ Giá</th>
        </tr>
        <tr>
            <th class="editTable col-md-1">Ngày</th>
            <th class="editTable col-md-1">Số</th>
            <th class="editTable col-md-1">Nợ</th>
            <th class="editTable col-md-1">Có</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody *ngFor="let item of _Accountant">
        <tr>
          <td class="editTable1 table-background txt-time" colspan="6">{{item.fulldate}}</td>
          <th class="editTable1 table-background"></th>
          <td class="editTable1 table-background"></td>
        </tr>
        <tr *ngFor="let value of item.data; let i = index">
          <th class="editTable1">{{i+1}}</th>
          <td class="editTable1">{{value.date}}</td>
          <td class="editTable1">{{value.number}}</td>
          <td class="editTable1">{{value.explain}}</td>
          <td class="editTable1">{{value.debt}}</td>
          <td class="editTable1">{{value.have}}</td>
          <td class="editTable1">{{value.money | number: '1.0-3'}}</td>
          <td class="editTable1">{{value.exchange_rate}}</td>
        </tr>
      </tbody>
      <!--Table body-->


    </table>
    <!--Table-->
  </div>
</section>