.editTable {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #DEE2E6;
    padding: 0;
    background-color: #FAFAEB;
}

.editTable1 {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #DEE2E6;
    padding: 0;
    /* background-color: #fff; */
}

.txt_date {
    /* display: block; */
    text-align: left;
    padding-left: 40px;
    background-color: #C6E2F8;
    /* border: none; */
}

.btn-create {
    margin: 24px;
    background-color: #383838;
    color: #fff;
}

.txt_account {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 0 24px;
}

.table-background {
    background-color: #e0e2e3;
}


.txt-time {
    text-align: left;
    padding-left: 34px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.in-edit {
    width: 100%;
}


.navbar-edit {
    max-width: 350px;
}
.col-min {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2.333333%;
    flex: 0 0 2.333333%;
    max-width: 2.333333%;
}

.btn-group-fix {
    margin: 24px 54px 24px 24px;
}

.toggle {
    display: none;
}