<p class="txt_account">Accounting Information</p>
<button type="button" class="btn btn-primary btn-create" data-toggle="button" aria-pressed="false" autocomplete="off">CREATE</button>
<section>
<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
            <th rowspan="2" class="editTable"></th>
            <th colspan="2" class="editTable">Chứng Từ</th>
            <th rowspan="2" class="editTable">Diễn Giải</th>
            <th colspan="2" class="editTable">Tài Khoản</th>
            <th rowspan="2" class="editTable col-md-1">Tiền</th>
            <th rowspan="2" class="editTable col-md-1">Tỉ Giá</th>
        </tr>
        <tr>
            <th class="editTable col-md-1">Ngày</th>
            <th class="editTable col-md-1">Số</th>
            <th class="editTable col-md-1">Nợ</th>
            <th class="editTable col-md-1">Có</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody *ngFor="let item of _Accountant; let i = index">
        <tr>
          <td class="editTable1 table-background" colspan="6">{{item.fulldate}}</td>
          <td class="editTable1 table-background">{{item.total}}</td>
          <td class="editTable1 table-background"></td>
        </tr>
        <tr *ngIf="i > 0">
          <th class="editTable1">{{i}}</th>
          <td class="editTable1">{{item.date}}</td>
          <td class="editTable1">{{item.number}}</td>
          <td class="editTable1">{{item.explain}}</td>
          <td class="editTable1">{{item.debt}}</td>
          <td class="editTable1">{{item.have}}</td>
          <td class="editTable1">{{item.money}}</td>
          <td class="editTable1">{{item.exchange_rate}}</td>
        </tr>
      </tbody>
      <!--Table body-->


    </table>
    <!--Table-->
  </div>
</section>