<div class="all-product" *ngFor="let valueall of _ValueInHome">
    <div class="product-1 row row-fix" *ngFor="let value of valueall.data">
        <div class="col-md-4 hea" >
            <div class="txt-hea txt-hea-res animate__animated animate__fadeInLeft">{{value.header}}</div>
            <div class="txt-des txt-des-res animate__animated animate__fadeInLeft">{{value.desciption}}</div>
            <button pButton pRipple type="button"
            class="p-button-outlined p-button-rounded p-button btn-me btn-me-tab btn-me-mobi
            animate__animated animate__fadeInLeft">{{value.txtbtn}}</button>                     
        </div>
        <div class="col-md-8 img-logo">
            <img class= "img" alt="" src= {{value.imglink}}>
        </div>
    </div>
    
    <div class="product-3 row row-fix">
        <div class="col-md-3" *ngFor="let value1 of valueall.data1">
            <img src= {{value1.imglink}}
            alt="" class="img-pro-2 animate__animated animate__fadeIn" style="width: 100%">
            <div class="des-3">
                <div class="des-head">
                    {{value1.header}}
                </div>
                <div class="des-txt">
                    {{value1.desciption}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-4-wrap">
        <div class="product-4 row row-fix-1">
            <div class="col-md-4 dis-pa-ma" *ngFor="let value2 of valueall.data2">
                <img src= {{value2.imglink}} alt="" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
    
    <div class="product-3 product-3-fix row row-fix row-fix-2 ">
        <div class="col-md-3 part-num part-num-tab mr-tab" *ngFor="let value3 of valueall.data3">
            <div class="about-hea-fot">
                {{value3.header}}
            </div>
            <div class="about-con">
                <div class="con-des con-price">
                    <div class="price-num">
                        <div class="num1 num1-tab animate__animated animate__pulse animate__infinite infinite">{{value3.pricecurrency}}</div>
                        <div class="num2 num2-tab animate__animated animate__pulse animate__infinite infinite">{{value3.price1}}</div>
                        <div class="num1 num1-tab animate__animated animate__pulse animate__infinite infinite">{{value3.price2}}</div>
                    </div>
                    <div class="price-num month">{{value3.month}}</div>
                </div>
                <div class="con-des des-edit ">
                    {{value3.desciption}}
                </div>
                <div class="con-des des-edit ">
                    {{value3.desciption1}}
                </div>
                <div class="con-des des-edit ">
                    {{value3.desciption2}}
                </div>
                <div class="con-des des-edit">
                    {{value3.desciption3}}
                </div>
            </div>
            <div class="about-hea-fot about-hea-fot-fix fot-e">
                <div class="span fot-txt">{{value3.desciption4}}</div>
                <button pButton pRipple type="button" label="" 
                class="p-button-outlined p-button-rounded p-button btn-order">{{value3.txtbtn}}</button>  
            </div>
        </div>
    </div>
    
    <div class="product-4-wrap">
        <div class="product-4 row row-fix-1">
            <div class="col-md-4 dis-pa-ma" *ngFor="let value4 of valueall.data4">
                <div class="product-4-1 {{value4.classEdit}}"> 
                    <div class="about-con-1">
                        <div class="con-sex">
                            <div class="sex-num {{value4.classEdit}}">
                                <i class="{{value4.iconuse}}"></i>
                            </div>
                        </div>
                        <div class="sex-hea">
                            {{value4.header}}
                        </div>
                        <div class="sex-txt">
                            {{value4.desciption}}
                        </div>
                    </div>
                    <div class="about-hea-fot about-hea-fot-fix fot-e sex-fot {{value4.classEdit}}">
                        <button pButton pRipple type="button" label="{{value4.txtbtn}}" 
                        class="p-button-outlined p-button-rounded p-button btn-order sex-btn"></button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-2 row row-fix">
        <div class="txt-header-mo" *ngFor="let value5 of valueall.data5">
            <h2 style="text-align: center;" class="col-md-12">
                <font style="background-image: linear-gradient(135deg, #38383B 0%, #878787 100%);" class="text-gradient">{{value5.header}}</font>
            </h2>
            <span class="txt-donors col-md-12" style="text-align: center;">{{value5.desciption}}</span>
        </div>
        <div class="col-md-10 img-donors-wrap">
                <img *ngFor="let value6 of valueall.data6" src={{value6.imglink}} alt="" class="img-donors col-md-2 col-md-4-tab">   
        </div>
    </div>
    
    <div class="product-2 row row-fix">
            <div class="col-md-4 mar mar-tab" *ngFor="let value7 of valueall.data7">
                <div class="feature">
                    {{value7.header}}
                </div>
                <div class="slogan">
                    {{value7.desciption}}
                </div>
                <div class="feature-icon-des mr-b-t {{value7.animate}}"
                *ngFor="let valuechildren7 of value7.data7children"
                >
                    <div class="feature-icon">
                        <i class="{{valuechildren7.iconuse}}"></i>
                    </div>
                    <div class="feature-des">
                       <div class="feature-des-hea">{{valuechildren7.desciption1}}</div>
                       <div class="feature-des-txt">{{valuechildren7.desciption2}}</div>
                    </div>
                </div>
            </div>
    </div>
    
    <div *ngFor="let value8 of valueall.data8" class="product-2 row {{value8.flexrowreverse}}" style="background-color: #202022;">
            <div class="col-md-4 col-md-9-tab mar1" style="margin-top: 20px;">
                <img src="{{value8.imglink}}" 
                class="s_media_list_img h-100 w-100" alt="" 
                data-shape="web_editor/float/flt_square_1" 
                data-original-mimetype="image/jpeg" 
                data-file-name="s_media_list_1.svg" 
                data-shape-colors="o-color-4;o-color-2;;;" 
                loading="lazy"> 
            </div>
            <div class="col-md-4 col-md-9-tab {{value8.animate}}">
                <div class="about-con-1 about-con-tab">
                    <div class="sex-hea">
                        {{value8.header}}
                    </div>
                    <div class="sex-txt">
                        {{value8.desciption}}
                    </div>
                </div>
                <div class="about-hea-fot about-hea-fot-fix fot-e product-4-2 back-none">
                    <button pButton pRipple type="button" label="{{value8.txtbtn}}" 
                    class="p-button-outlined p-button-rounded p-button btn-order sex-btn back-btn back-white"></button>  
                </div>
            </div>
            <!-- <div class="col-md-4 col-md-9-tab mar1 mar1-1">
                <div class="about-con-1 about-con-tab">
                    <div class="sex-hea">
                        Summer Essentials
                    </div>
                    <div class="sex-txt">
                        The right summer essentials can make the difference between a good time and a stand-out great time. Discover our selection for everyday wear during the warm summer months.
                    </div>
                </div>
                <div class="about-hea-fot about-hea-fot-fix fot-e product-4-2 back-none">
                    <button pButton pRipple type="button" label="Read more" 
                    class="p-button-outlined p-button-rounded p-button btn-order sex-btn back-btn back-white"></button>  
                </div>
            </div>
            <div class="col-md-4 col-md-9-tab mr-2 ">
                <img src="https://nvhung2.odoo.com/web_editor/image_shape/website.s_media_list_default_image_2/web_editor/float/flt_square_3.svg?c1=o-color-1&c5=o-color-2" 
                class="s_media_list_img h-100 w-100" alt="" 
                data-shape="web_editor/float/flt_square_1" 
                data-original-mimetype="image/jpeg" 
                data-file-name="s_media_list_1.svg" 
                data-shape-colors="o-color-4;o-color-2;;;" 
                loading="lazy"> 
            </div> -->
    </div>
    
    <div class="product-2 row row-fix" style="margin-top: 54px;">
        <div class="col-md-4 col-md-9-tab mar mar-tab mr-left-none" *ngFor="let value9 of valueall.data9">
            <div class="feature-icon-des mr-b-t {{value9.animate}}">
                  <img src={{value9.imglink}} alt=""
                  style="height: 178px; margin-bottom: 48px;">
                <div class="feature-des pl-18">
                   <div class="feature-des-hea">{{value9.header}}</div>
                   <div class="feature-des-txt">{{value9.desciption}}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-footer pl-none row row-fix row-fix-2" style="background-color: #38383B;" *ngFor="let value10 of valueall.data10">
        <div class="about-con-2 o_web_editor_Floats_02 about-con-tab col-md-12">
            <div class="sex-hea sex-hea-1">
                {{value10.header}}
            </div>
            <div class="sex-txt sex-txt-1">
                {{value10.desciption}}
            </div>
            <p style="text-align: center; margin-bottom: 8rem; margin-top: 48px">
                <a class="btn btn-primary btn-lg mb-2" href="/contactus" data-original-title="" title="" style="background-color: #fff;">{{value10.txtbtn}}</a>
            </p>  
        </div>
    </div>
    
    <app-footer></app-footer>
</div>