.nav_weight {
    font-weight: 500;
}

.nav-primary-color {
    background-color: #38383B;
}

.navbar-brand,
.navbar-toggler_fix,
.nav-link {
    color: #8C9C9D;
}

.btn-outline {
    background-color: #8C9C9D;  
}

.active-click {
    color: #fff;
}

.img {
    width: 20px;
}

.header {
    /* box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.25) !important; */
    border: 1px solid;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
