.col-wrap {
    display: flex;
    align-items: center;
}

.fix1 {
    margin-top: 20px;
}

.fix1-1 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.btn-fix {
    float: right;
    margin-right: 54px;
    margin-bottom: 20px;
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.input-wrap {
    width: 100%;
}


/* Mobile && Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: block;
    }
}


@media (max-width: 1023px) and (min-width: 740px) {

}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: block;
    }
}

.btn-add {
    margin: 20px 0 0 8%;
}

.create-wrap {
        /* margin-left: 12%; */
        position: relative;
        left: 12%;
}