

<div class="login animate__animated animate__fadeIn">
    <div class="grid p-fluid col-md-3" style="width: 100%">
        <div class="col-12 md:col-4 input-group">
            <p class="txt" style="font-weight: 700">Email</p>
            <input type="text" pInputText [(ngModel)]="value1">     
        </div>
        <div class="col-12 md:col-4 input-group">   
            <p class="txt" style="font-weight: 700">Password</p>
            <input type="password" pInputText [(ngModel)]="value2"> 
        </div>
        <button pButton pRipple type="button" label="Đăng Nhập" class="p-button-rounded p-button-me"></button>
        <a class="forget-pass" href="">Đặt lại mật khẩu</a>
    </div>
</div>
