.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 100%;
}

.input-group {
    margin-top: 20px;
}

.input-group-fix {
    display: flex;
    justify-content: space-between;
}


.input-group:first-child {
    margin-top: 54px;
}

.p-button-me {
    background-color: #38383B;
    border: none;
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 54px;
    width: 93%;
    height: 48px;
    font-size: 15px;
}

.p-button-create {
    background-color: #1D90F4;
    border: none;
    margin-top: 32px;
    margin-left: 16px;
    width: 93%;
    margin-bottom: 54px;
    margin-right: 16px;
    font-size: 15px;
}


.p-button-me:hover {
    background-color: #272729;
}

.forget-pass {
    display: block;
    font-size: 12px;
    color: #6E8B97;
    margin-top: 10px;
    margin-left: 16px;
    text-decoration: none;
}

.col-fix {
    padding: none;
}

.txt-value {
    width: 48%;
}

.txt {
    font-weight: 700;
    padding-left: 0;
}

.btn-wrap {
    display: flex;
}

.password-edit {
    padding: 0;
}



.txt-header-wrap {
    display: flex;
    justify-content: center;
}

.txt-header {
    color: #6E8B97;
    display: block;
    font-weight: 500;
    font-size: 18px;
}

.txt-header-big {
    color: #6E8B97;
    display: block;
    font-weight: 500;
    font-size: 48px;
}

.txt-header-log {
    color: #6E8B97;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.txt-header-log-1 {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #1D90F4;
    padding-left: 8px;
}

.have-acc {
    display: flex;
    align-items: center;
}

.wrap-header {
    margin-left: 20px;
    margin-top: 54px;
}